/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */
/* 
#2196F3
#000000
#212121
#757575
#FFFFFF
link footer: rgba(255, 255, 255, 0.6); #FFFFFF99;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
background: #F5F4FA;
background: #2F303A;
background: #E5E5E5;
borders: #EEEEEE;
*/

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --primary-background-color: #2F303A;
    --second-background-color: #E5E5E5;
    --bcg-color: #F5F4FA;
}
body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color)
}

/* Шапка страницы */

.header {
    background-color: var(--white-color);
}

/* Логотип */
.logo {
    color: var(--accent-color);
}
.logo-header {
    color: #000000;
}

/* Навигация страницы */
.link-nav {
    color: var(--title-text-color);
}
.link-nav.current {
    color: var(--accent-color);
}
.link-nav:hover,
.link-nav:focus {
    color: var(--accent-color)
}

/* Контакты */
.contacts {
    color: var(--primary-text-color);
}
.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}

/* Основа страницы */

/* Герой */
.hero-title {
    color: var(--white-color);
}
.hero-button {
    background-color: var(--accent-color);
}

/* Чем мы занимаемся */
.work {
    background-color: var(--second-background-color);
}
.work-title,
.title,
.team-title {
    color: var(--title-text-color);
}

/* Наша команда */
.team {
    background-color: var(--bcg-color);
}

/* Подвал */
.logo-footer {
    color: var(--white-color);
}
.address {
    color: var(--white-color);
}
.footer-contacts {
    color: #FFFFFF99;
}

/* Основа Портфолио */
.portfolio {
    background-color: var(--second-background-color);
}
.link-button {
    color: var(--title-text-color);
    background-color: var(--bcg-color);
}
.link-button:hover,
.link-button:focus,
.link-button.current {
    color: var(--white-color);
    background-color: var(--accent-color);
}

/* Проекты */
.project-link {
    background-color: var(--white-color);
}
.project-title {
    color: var(--title-text-color);
}